body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: minmax(80px, 10%) 1fr;
}

:root {
  --light-gray: #dddddddd;
}

header {
  box-sizing: border-box;
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #326496;
  letter-spacing: 0.1em;
}

#content {
  display: grid;

  grid-template-columns: minmax(20%, 250px) 3fr;
  height: 100%;
  /* in case of very long words */
  overflow-wrap: break-word;
  word-break: break-all;
  place-self: stretch;
}

#sidebar {
  border-right: 1px var(--light-gray) solid;
  overflow-y: auto;
  background-color: var(--light-gray);
  display: grid;
  grid-template-rows: auto 1fr;
  min-width: max-content;
  align-self: stretch;
  height: 100%;

}

#project-list {

  padding: 1em 0.25em;
  display: grid;
  grid-auto-rows: min-content;
  gap: 1em;
  /* grid-template-columns: 200px; */
}

/* .project {
  text-align: center;
  background-color: var(--light-gray);
  &:hover {
    background-color: white;
  }
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
} */

.project {
  display: grid;
  justify-self: stretch;
  /* switch, edit, delete */
  grid-template-columns: 1fr 20px 20px;
  background-color: var(--light-gray);

  &:hover {
    background-color: white;
  }

  *:hover {
    background-color: inherit;
    border: 1px black dotted;

  }

  *:active {
    background-color: var(--light-gray);
  }

  * {
    background-color: inherit;
    border: none;
  }
}

.project>button:nth-child(1) {
  border: none;
  margin: none;
}

.project>button:not(:nth-child(1)) {
  height: 20px;
  width: 20px;
  align-self: center;
}

#new-project {
  align-self: start;
}

button {
  font-size: 1.2rem;
  background-color: white;
  padding: 0.3em;
}

button:hover {
  background-color: orange;
}

button:active {
  background-color: red;
}

form {
  box-sizing: border-box;
  display: grid;
  gap: 1em;
  border: 1px solid black;
  background-color: gray;
  padding: 10px;
}

/* use in future for better js html generation */
.cancel-button {}

button[formmethod="dialog"] {
  justify-self: end;
  padding: 0 0.5em;

}

#sidebar>h2 {
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: orangered;
}

#container {
  overflow-y: auto;
  scrollbar-width: none;
}

label {
  display: block;
}

input,
textarea,
select {
  padding: 0.5em;
  font-size: 1.2rem;
}

select {
  width: 100%;
}

.high {}

.medium {}

.low {}

.square {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal-two {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

h2 {
  margin: 0;
}

/* when selected as the current project */
.current-project {
  /* background-color: aqua; */
  border: 1px solid;

  * {
    font-weight: bold;
  }
}