body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: minmax(80px, 10%) 1fr;
}

:root {
  --light-gray: #dddddddd;
}

header {
  box-sizing: border-box;
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #326496;
  letter-spacing: 0.1em;
}

#content {
  display: grid;

  grid-template-columns: minmax(20%, 250px) 3fr;
  height: 100%;
  /* in case of very long words */
  overflow-wrap: break-word;
  word-break: break-all;
  place-self: stretch;
}

#sidebar {
  border-right: 1px var(--light-gray) solid;
  overflow-y: auto;
  background-color: var(--light-gray);
  display: grid;
  grid-template-rows: auto 1fr;
  min-width: min-content;
  align-self: stretch;
  height: 100%;

}

#project-list {

  padding: 1em 0.25em;
  display: grid;
  grid-auto-rows: min-content;
  gap: 1em;
  min-width: 0;
  /* grid-template-columns: 100%; */
}

/* .project {
  text-align: center;
  background-color: var(--light-gray);
  &:hover {
    background-color: white;
  }
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
} */

.project {
  display: grid;
  justify-self: stretch;
  /* switch, edit, delete */
  grid-template-columns: 1fr;
  grid-auto-columns: 20px;
  grid-auto-flow: column;
  background-color: var(--light-gray);

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;

  &:hover {
    background-color: white;
  }

  *:hover {
    background-color: inherit;
    border: 1px black dotted;

  }

  *:active {
    background-color: var(--light-gray);
  }

  * {
    background-color: inherit;
    border: none;
  }
}

.project>button:nth-child(1) {
  border: none;
  margin: 0;
}

.small-button {
  height: 20px;
  width: 20px;
  align-self: center;
}

#new-project {
  align-self: start;
}

button {
  font-size: 1.2rem;
  background-color: white;
  padding: 0.3em;
}

button:hover {
  background-color: orange;
}

button:active {
  background-color: red;
}

.create-form {
  box-sizing: border-box;
  display: grid;
  gap: 1em;
  border: 1px solid black;
  background-color: gray;
  padding: 10px;
  color: white;
}

.edit-form {
  box-sizing: border-box;
  display: grid;
  gap: 1em;
  border: 1px solid black;
  background-color: var(--light-gray);
  padding: 10px;
  color: black;
}

#sidebar>h2 {
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: orangered;
}

#container {
  overflow-y: auto;
  scrollbar-width: none;
}

label {
  display: block;
}

input,
textarea,
select {
  padding: 0.5em;
  font-size: 1.2rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

select {
  width: 100%;
}

.high {
  border: 5px solid red;
}

.medium {
  border: 5px solid yellow;
}

.low {
  border: 5px solid green;
}

.square {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal-two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
  padding-top: 32px;
  background-color: calc(background-color + #111111);
}

h2 {
  margin: 0;
}

/* when selected as the current project */
.current-project {
  /* background-color: aqua; */
  border: 1px solid;

  * {
    font-weight: bold;
  }
}

.form-parent {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.small-header {
  font-size: 2rem;
  padding: 0.25em;
  font-weight: 1000;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 
    0 0 2px black,     
    0 0 4px black;     
}

#create-todo {
  background-color: var(--light-gray);
}

#create-todo>form {
  display: grid;
  gap: 1em;
}

.cancel {
  justify-self: end;
  padding: 0 0.5em;
  width: 2em;
  height: 2em;
  background-color: red;
}

.light-gray {
  background-color: var(--light-gray);
}

.todo {
  display: grid;
  grid-auto-flow: column;
}